.options {
    padding: 0 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.option {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    flex-basis: 20%;
    -ms-flex: auto;
    position: relative;
    box-sizing: border-box;
}

::ng-deep .options {
    padding: 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin-top: 20px;
}
::ng-deep .option {
    margin-top: 10px;
}
 ::ng-deep .caption {
    font-size: 18px;
    font-weight: 500;
}
::ng-deep .option > span {
    margin-right: 10px;
}
::ng-deep .option > .dx-widget {
    display: inline-block;
    vertical-align: middle;
}

::ng-deep .state-tooltip{
    background-color: white;
}

::ng-deep .state-tooltip .data-zone {
    font-size: 14px;
    margin-bottom: 5px;
}
.data-table{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
