.options {
    padding: 0 20px;
    background-color: rgba(191, 191, 191, 0.15);
    margin: 10px 0;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-start;
}

.option {
    margin-top: 10px;
    margin-right: 10px;
    margin-bottom: 5px;
    flex-basis: 10%;
    -ms-flex: auto;
    position: relative;
    box-sizing: border-box;
}

body .custom-item {
    padding-left: 7px;
    padding-right: 7px;
}

body .custom-item input {
    background-color: transparent;
}

body .dx-popup-content .custom-item {
    padding-top: 7px;
    padding-bottom: 8px;
}