.info-box{
    padding-bottom: 20px;
}

ul {
    line-height:13px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
}

li {
    line-height:18px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding-bottom: 10px;
}

.iconservice_5 {
    box-sizing: content-box;
    position: relative;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAACuklEQ…2bYkTCVLu8zoe7NLD1795NgCP2TuEhDUQUM9%2Ff3%2FBnpviDJQCLgAAAAASUVORK5CYII%3D);
}

.iconservice_6 {
    box-sizing: content-box;
    position: relative;
    background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAIAAACQkWg2AAACuklEQ…2bYkTCVLu8zoe7NLD1795NgCP2TuEhDUQUM9%2Ff3%2FBnpviDJQCLgAAAAASUVORK5CYII%3D);
}