<div class="info-box">
  <h2>Note legali</h2>
  <p>
    Curatore e responsabile di questo sito è Federico Pranio, proprietario del
    dominio pranio.it.
  </p>
  <p>
    Finalità del sito è la rappresentazione grafica di dati di terze parti
    riguardanti la pandemia di Covid 19.
  </p>
  <p>
    Il curatore declina ogni responsabilità su danni cogionati a terze parti
    dovuti a dati errati alla fonte o erratamente elaborati dal software di
    questo sito.
  </p>
  <p>
    I codici sorgenti di questo sito sono liberamente utilizzabili e reperibili
    presso
    <a href="https://github.com/eomer1975/Covid19" target="_blank"
      >https://github.com/eomer1975/Covid19</a
    >.<br />Qualsiasi distribzione deve rispettare le disposizioni della licenza
    di uso gratuito della libreria Devextreme utilizzata per la realizzazione
    del presente sito :
    <a
      href="https://js.devexpress.com/EULAs/DevExtremeNonCommercial/"
      target="_blank"
      >https://js.devexpress.com/EULAs/DevExtremeNonCommercial/</a
    >
  </p>
</div>

<div class="info-box">
  <h3>Fonti dei dati</h3>
  <p>
    Per l'italia:
    <a href="https://github.com/pcm-dpc/COVID-19" target="_blank"
      >https://github.com/pcm-dpc/COVID-19</a
    >
  </p>
</div>

<div class="info-box">
  <h3>Servizi Esterni</h3>
  <ul class="unstyled">
    <li class="">
      <h3 class="expand-click service-item w_icon_16 iconservice_5">
        Google Analytics
      </h3>
      <div class="expand-content" style="">
        <h4>Provider</h4>
        <ul class="unstyled">
          <li>Google Ireland Limited</li>
        </ul>

        <h4>Finalità</h4>
        <p>Statistica</p>

        <h4>Dati personali raccolti</h4>
        <ul class="unstyled">
          <li>Cookie</li>
          <li>Dati di utilizzo</li>
        </ul>

        <h4>Privacy Policy</h4>
        <p>
          Google Analytics è un servizio di analisi web fornito da Google
          Ireland Limited (“Google”). Google utilizza i Dati Personali raccolti
          allo scopo di tracciare ed esaminare l’utilizzo di questa
          Applicazione, compilare report e condividerli con gli altri servizi
          sviluppati da Google.<br />
          Google potrebbe utilizzare i Dati Personali per contestualizzare e
          personalizzare gli annunci del proprio network pubblicitario.
        </p>
      </div>
    </li>

    <li class="">
      <h3 class="expand-click service-item w_icon_16 iconservice_197">
        Google Tag Manager
      </h3>

      <div class="expand-content" style="">
        <h4>Provider</h4>
        <ul class="unstyled">
          <li>Google Ireland Limited</li>
        </ul>

        <h4>Finalità</h4>
        <p>Gestione dei tag</p>

        <h4>Dati personali raccolti</h4>
        <ul class="unstyled">
          <li>Dati di utilizzo</li>
        </ul>

        <h4>Privacy Policy</h4>
        <p>
          Google Tag Manager è un servizio di gestione dei tag fornito da Google
          Ireland Limited.
        </p>
      </div>
    </li>
  </ul>
</div>
