<div class="options">
  <div class="option">
    <span>Nazioni</span>
    <dx-tag-box
      [dataSource]="countries"
      [(value)]="outputObj.countries"
      displayExpr="name"
      valueExpr="id"
      [showSelectionControls]="true"
      applyValueMode="useButtons"
      width="250"      
      (onSelectionChanged) = "onCountrySelectionChanged($event)"
    >
    </dx-tag-box>
  </div>
  <div class="option">
    <span>Regioni</span>
    <dx-tag-box
      [dataSource]="regions"
      [(value)]="outputObj.regions"
      displayExpr="name"
      valueExpr="id"
      [showSelectionControls]="true"
      applyValueMode="useButtons"
      width="250"
      (onSelectionChanged) = "onRegionsSelectionChanged($event)"
    >
    </dx-tag-box>
  </div>
  <div class="option">
    <span>Province</span>
    <dx-tag-box
      [dataSource]="zones"
      [(value)]="outputObj.zones"
      displayExpr="name"
      valueExpr="id"
      [showSelectionControls]="true"
      applyValueMode="useButtons"
      width="250"
      (onSelectionChanged) = "onZonesSelectionChanged($event)"
    >
    </dx-tag-box>
  </div>
</div>
